* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(darkblue, blue);
    font-family: 'Bebas Neue', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    /* overflow: hidden; */

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vh 50vh 20vh 50vh;
    border-radius: 10px;
    background-image: linear-gradient(darkblue, #000);
    box-shadow: 2px 4px 8px 10px #00000086;
}

h1 {
    color: #f9f9f9;
    word-spacing: 10px;
    top: 30px;
    font-size: 40px;
    position: relative;
    text-shadow: 1px 4px 8px #000;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 4vh;
}

.form>textarea {
    border-radius: 5px;
    padding: 20px;
    outline: none;
    border: none;
    margin: 10px;
    resize: none;
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Bebas Neue', sans-serif; */
}

button {
    background-color: lightblue;
    filter: brightness(1.1);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
    margin: 0 20px 20px;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px #fff;
    text-shadow: 0px 1px 1px #000;
}

button:hover {
    scale: 1.1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
input[type='checkbox']{
    color: #f9f9f9;
}
#added-list{
    color: yellow;
}
i{
    background-color: gainsboro;
    visibility: hidden;
    width: fit-content;
    padding: 10px;
    bottom:10%;
    left: 90%;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
}
i:hover{
    scale: 1.1;
    filter: brightness(1.1);
}
@media only screen and (max-width: 1020px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20vh 10px;
        border-radius: 10px;
        background-image: linear-gradient(darkblue, #000);
        box-shadow: 2px 4px 8px 10px #00000086;
    }
    
    h1 {
        color: #f9f9f9;
        word-spacing: 10px;
        top: 30px;
        font-size: 40px;
        position: relative;
        text-shadow: 1px 4px 8px #000;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        padding: 4vh;
    }
    
    .form>textarea {
        border-radius: 5px;
        padding: 5px;
        outline: none;
        border: none;
        margin: 25px;
    }
    
    button {
        margin: 0 10px 10px;
    }
    
    button:hover {
        scale: 1.1;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}